@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.navbar {
  background-color: transparent !important;
}

.navbar-brand {
  font-size: 2.3rem !important;
  color: #565387 !important;
}
.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #565387;
}

.nav-item .nav-link:hover {
  color: #3498db !important;
}

#header {
  width: 100%;
  height: 70vh;
  margin-top: 60px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name {
  color: #3498db;
  margin-left: 15px;
}
#header h2 {
  color: #484848;
  font-size: 24px;
}
#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.4s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background-color: #3498db;
  color: #fff;
}
.header-img {
  text-align: right;
}
.img-fluid {
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

@keyframes mymove {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-30px);
  }
}

/* Services Section */
.card-title{
  font-weight: 600;
}

.card {
  border-radius: 4px;
  background:#ffffff ;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
